.slider
  margin-top: -65px
  color: $white

  &__slide
    display: none

  &__content
    position: relative

  &__slide.active
    display: block

  &__image
    width: 100%
    position: relative

  &__txt
    position: absolute
    top: 20%
    right: 60px
    left: 44%

  &__span
    color: $sunglow

  &__text
    color: $white
    line-height: 1.5
    margin-bottom: 20px

  .controlls

    &__list
      display: flex
      justify-content: center

    &__item
      list-style: none

    &__link
      display: block
      height: 12px
      width: 12px
      border-radius: 50%
      background: $white
      cursor: pointer
      margin-right: 10px

      &:hover,
      &:focus,
      &:active
        background: $sunglow

    &__link.active
      background: $sunglow


@media (max-width: 885px)
  .slider
    &__txt
      right: 0

@media (max-width: 775px)
  .slider
    &__txt
      left: 0
      top: 10%
      padding: 1rem

@media (max-width: 665px)
  .slider__head
    font-size: 4em

@media (max-width: 600px)
  .slider
    &__txt
      left: 0
      top: 0
      padding: .6rem

@media (max-width: 515px)
  .slider
    &__controlls
      margin-top: 20px
