@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
    padding: 0;
    margin: 0;
    font: 14px 'Raleway', sans-serif;
}
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}
h1 {
    color: white;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase; 
}
h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #414d60;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #495d79; 
}
p {
    color: #889ab4;
}
header {
    text-align: center;
    padding: 50px;
}
.hero {
    height: 560px;
    background: url(img/billboard.jpg) no-repeat bottom;
    background-size: cover;
    vertical-align: middle;
    margin-bottom: 100px;
}
.heading {
    width: 50%;
    line-height: 95px;
} 
 #download {
    padding: 20px 30px;
    background: #f5a65b;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
        
}
#download:hover {
    background: #f38c2b;
}

.feature {
    text-align: center;
    margin-bottom: 100px;
}
.feature-wrapper {
    margin-top: 70px;
}
.feature-item {
    width: 25%;
    display: inline-block;
    margin-right: 40px;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.feature-item:last-child {
    margin-right: 0;
}
.weather {
    background: url(img/icon1.png) no-repeat top;  
    padding-top: 150px;
}
.target {
    background: url(img/icon2.png) no-repeat top;  
    padding-top: 150px;
}
.time {
    background: url(img/icon3.png) no-repeat top;  
    padding-top: 150px;
}
.quote {
    background: #f5f5f5;
    margin-bottom: 100px;
}
.left {
    width: 60%;
    float: left;
}
.right {
    float: left;
    width: 40%;
    margin: 0 auto;
    padding-top: 100px;
    background: url(img/quote.png) no-repeat;
    text-indent: 35px;
    background-position: 2% 40%;
}
.right span {
    font-size: 16px;
    color: #7188a8;
}
.quote p {
    color: #667386;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
.quote .container {width: auto;}
.blog {
    margin-bottom: 100px;
    text-align: center;
}

.blog-wrapper {
    margin-top: 70px;
}
.blog-item {
    width: 25%;
    display: inline-block;
    margin-right: 40px;
}
.blog-item:last-child {
    margin-right: 0;
}

.one {
    background: url(img/img_post1.jpg) no-repeat top;  
    padding-top: 240px;
}
.two {
    background: url(img/img_post2.jpg) no-repeat top;  
    padding-top: 240px;
}
.three {
    background: url(img/img_post3.jpg) no-repeat top;  
    padding-top: 240px;
}

.gallery {
    text-align: center
}
.gallery-wrapper {
    margin-top: 70px;
}
.gallery-wrapper img {
    margin: 38px 10%;
}
.take-action {
    background: #435063;
    height: 355px;
    text-align: center;
}

.take-action-wrapper {
    padding-top: 10%;
    text-transform: uppercase;
    line-height: 100px;
}
.take-action-wrapper p {
    font-size: 30px;
    color: white;
}
.free {
    font-size: 30px;
    font-weight: bold;
}

.take-action a {
    padding: 20px 30px;
    background: white;
    color: black;
    text-decoration: none;   
}

.take-action a:hover {
    background: black;
    color: white;
    
}
footer {
    background: #f5f5f5;
    padding-top: 100px;
}
.left-footer {
    float: left;
    width: 50%;
}
.right-footer {
    float: right;
    width: 50%;
    text-align: right
}
.right-footer ul li {
    display: inline-block;
    margin: 0 50px 70px 0;
}
.right-footer ul li:last-child {
    margin-right: 0;
}

.right-footer ul a {
    color:#435063;
    text-decoration: none;
}
.right-footer ul a:hover, :focus {
    color:black;
}

.left-footer p {
    line-height: 150px
}
.showing {
    opacity: 1!important;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
}
@media screen and (max-width: 855px) {
    .heading {
        width: 100%;
        text-align: center;
    }
    .quote .left {
        width: 100%;
    }
    .quote .left img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .quote .right {width: 100%; text-align: center}
}
@media screen and (max-width: 640px) {
    .feature-item {width: 100%;}
    .blog-item {width: 100%; margin-top: 20px;}
}
@media screen and (max-width: 570px) {
    .right-footer {width: 100%; text-align: center;}
    .left-footer {width: 100%; text-align: center;}
    .gallery-wrapper img:nth-child(2) {display: none}
    .gallery-wrapper img:nth-child(3) {display: none}
    
}