doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width")
		title CV
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/libs/fancybox/source/jquery.fancybox.css?v=2.1.5", type="text/css", media="screen")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
	body
		header.top-header
				.container
					.header-wrap
						a.logo.
							Singolo #[span *]
						nav.menu
								#burger
									i.fa.fa-bars
								ul
									li
										a(href="#") Home
									li
										a(href="#services") Services
									li
										a(href="#portfolio") Portfolio
									li
										a(href="#about") About
									li
										a(href="#main-footer") Contact
		section.slider
			.slider-wrapper
				ul.slide-list
					li
						img(src="./assets/img/iphone-slider.png" alt="Slide number 1 with phones")
					li
						img(src="http://www.niceimage.ru/pic/201305/1920x1200/niceimage.ru-25801.jpg" alt="Slide number 2 width a kitten")
			.btn-wrapper
				button.prev 
					img(src="./assets/img/arrow-left.png" alt="Arrow to the left to control slider")
				button.next
					img(src="./assets/img/arrow-right.png" alt="Arrow to the right to control slider")
			.slider-mobile-nav
				span.prev.active
				span.next
		section#services
			.container
				h1 Our Services
				p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
				
				mixin content(headline)
					h2 #{headline}
					p Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices velit.

				.services-wrap
					.services-item.design
						.icon
						.content
							+content('Custom Design')
					.services-item.ideas
						.icon
						.content
							+content('Inovative Ideas')
					.services-item.love
						.icon
						.content
							+content('Love Is The Answer')
					.services-item.layout
						.icon
						.content
							+content('Responsive Layout')
					.services-item.support
						.icon
						.content
							+content('24 / 7 Support')
					.services-item.star
						.icon
						.content
							+content('Feel Like A Star')							
		section#portfolio
			.container
				h1 Portfolio
				p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
				.buttons
				.gallery
					.gallerTab
						a.filter.active(data-rel="all", href="javascript:;") All
						a.filter(data-rel="web", href="javascript:;") Web Design
						a.filter(data-rel="graph", href="javascript:;") Graphic Design
						a.filter(data-rel="art", href="javascript:;") Artwork
					.galleryImg
						a.fancybox(href="./assets/img/portfolio-img1.jpg" data-fancybox-group="gallery" data-filter="web") 
							img(src="./assets/img/portfolio-img1.jpg" alt="Art with ship")
						a.fancybox(href="./assets/img/portfolio-img2.jpg" data-fancybox-group="gallery" data-filter="web") 
							img(src="./assets/img/portfolio-img2.jpg" alt="Art with green something")
						a.fancybox(href="./assets/img/portfolio-img4.jpg" data-fancybox-group="gallery" data-filter="graph") 
							img(src="./assets/img/portfolio-img3.jpg" alt="Black and white city")			
						a.fancybox(href="./assets/img/portfolio-img5.jpg" data-fancybox-group="gallery" data-filter="graph") 
							img(src="./assets/img/portfolio-img4.jpg" alt="Robot with heart")
						a.fancybox(href="./assets/img/portfolio-img5.jpg" data-fancybox-group="gallery" data-filter="art") 
							img(src="./assets/img/portfolio-img5.jpg" alt="A lot of rabbits")
						a.fancybox(href="./assets/img/portfolio-img6.jpg" data-fancybox-group="gallery" data-filter="art") 
							img(src="./assets/img/portfolio-img6.jpg" alt="IDE and blocks")
						a.fancybox(href="./assets/img/portfolio-img7.jpg" data-fancybox-group="gallery" data-filter="web") 
							img(src="./assets/img/portfolio-img7.jpg" alt="Abstract something")
						a.fancybox(href="./assets/img/portfolio-img8.jpg" data-fancybox-group="gallery" data-filter="graph") 
							img(src="./assets/img/portfolio-img8.jpg" alt="Chickens with eggs")
						a.fancybox(href="./assets/img/portfolio-img9.jpg" data-fancybox-group="gallery" data-filter="art")
							img(src="./assets/img/portfolio-img9.jpg" alt="Big green monster with town on top of his head")
						a.fancybox(href="./assets/img/portfolio-img0.jpg" data-fancybox-group="gallery" data-filter="graph")
							img(src="./assets/img/portfolio-img10.jpg" alt="Writing")
						a.fancybox(href="./assets/img/portfolio-img11.jpg" data-fancybox-group="gallery" data-filter="web")
							img(src="./assets/img/portfolio-img11.jpg" alt="White monster with blood dripping from his teeth")
						a.fancybox(href="./assets/img/portfolio-img12.jpg" data-fancybox-group="gallery" data-filter="art")
							img(src="./assets/img/portfolio-img12.jpg" alt="Who knows what")
		section.about
			.container
				h1 About Us
				p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.

				mixin people (img, title)
					figure
						img(src="./assets/img/#{img}" alt="Person")
						figcaption
							h2 #{title}
							p Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
							block

				mixin fa-stack(data)
					span.fa-stack.fa-lg&attributes(attributes)
						block

				mixin fa-icon(data)
					- var classList = ['fa']

					if attributes.icon
						- classList.push(classList[0] + '-' + attributes.icon)

					if attributes.stack
						- classList.push(classList[0] + '-stack-' + attributes.stack)

					i(class=classList)


				.figure-wrap
					+people('about1.jpg', 'Adam Jensen')
						.social-icons
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="facebook" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="google-plus" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="twitter" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="linkedin" stack="1x")

					+people('about2.jpg', 'Barry Allen')
						.social-icons
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="facebook" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="google-plus" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="twitter" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="linkedin" stack="1x")
					+people('about3.jpg', 'Bruce Wayne')
						.social-icons
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="facebook" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="google-plus" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="twitter" stack="1x")
							+fa-stack()
								+fa-icon(icon="circle-thin" stack="2x")
								+fa-icon(icon="linkedin" stack="1x")
		section#quote
			.container
				.quote-wrap
					h1 Get A Quote
					p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
					.left
						form(method="post", name="myForm" id="my-form")
							div
								input(type="text" id="name" name = "name" placeholder="Name (Required)" required onblur = "checkInfo();")
							div
								input(type="email" id="email" name = "email" placeholder="Email (Required)" required onblur = "checkInfo();")		
							div
								input(type="text" id="subj" placeholder="Subject")
							div
								textarea(cols="30" rows="10" placeholder="Describe your project in detail...")						
					.right
						h2 Contact Information
						p Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. 
						address
							span
								i.fa.fa-map-marker 
								|   Elm St. 14/05 Lost City
							br	 
							span 
								i.fa.fa-phone 
								|  03528 331 86 35 
							br
							span 
								i.fa.fa-envelope-o 
								a(href="mailto:info@singolo.com") info@singolo.co
		footer#main-footer
			.container
				.footer-wrap
					span  &copy; Copyright 2013  &middot;  by PSDchat.com
					.social-icons
						+fa-stack()
							+fa-icon(icon="circle-thin" stack="2x")
							+fa-icon(icon="facebook" stack="1x")
						+fa-stack()
							+fa-icon(icon="circle-thin" stack="2x")
							+fa-icon(icon="google-plus" stack="1x")
						+fa-stack()
							+fa-icon(icon="circle-thin" stack="2x")
							+fa-icon(icon="twitter" stack="1x")
						+fa-stack()
							+fa-icon(icon="circle-thin" stack="2x")
							+fa-icon(icon="linkedin" stack="1x")

	
		script(src="http://code.jquery.com/jquery-latest.min.js")
		script(src="assets/libs/fancybox/source/jquery.fancybox.pack.js?v=2.1.5") 
		script(src="assets/js/functions.js")
